<div class="container" ng-controller="homeController">
  {{editItem | json}}
  {{items | json}}
  <div class="row">
    <label class="col-md-1">Name</label>
    <input id="item-name" class="col-md-2" type="text" ng-model="editItem.name">
    <button class="btn btn-primary" ng-click="create()">Submit</button>
  </div>
  <div>
    <table>
      <tr>
        <th>
          Delete
        </th>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
      </tr>
      <tr ng-repeat="item in items">
        <td>
          <button class="btn btn-danger" ng-click="destroy(item.id, $index)">X</button>
        </td>
        <td>
          {{item.id}}
        </td>
        <td>
          <input type="text" ng-model="item.name"/>
        </td>
        <td>
          <button class="btn btn-warning" ng-click="update(item.id, $index)">Update</button>
        </td>
      </tr>
    </table>
  </div>
</div>
